<html>
    <head>
    <style>
        table, td, th {
            border: 1px solid orange;
        }
    </style>
    </head>
    <body>
    Here are some donuts we have: <br /><br />
    <table>
        <thead>
            <th>Donut Name</th>
            <th>Calories</th>
        </thead>
        <% for (let iCount=0; iCount < aDonuts.length; iCount++) { %>
        <tr>
            <td><%= aDonuts[iCount].name %></td>
            <td><%= aDonuts[iCount].calories %></td>
        </tr>
        <% } %>
    </table>
    </body>
</html>
